.dataset-preview-container {

  .toggle-preview-btn-container {
    text-align: center;
    padding: 6px 0;

    .toggle-dset-preview {
      position: relative;
      text-transform: uppercase;
      padding: 15px;
      background: transparent;
      color: #bcbcbc;
      font-size: 12px;
      margin: 0 auto;
      width: 150px;
      border: none;
      -webkit-transition: color 0.1s;
      -moz-transition: color 0.1s;
      -ms-transition: color 0.1s;
      -o-transition: color 0.1s;
      transition: color 0.1s;
      outline: none;

      &:hover {
        color: $secondary;
      }

      i {
        width: 30px;
        text-align: center;
        position: absolute;
        left: 60px;
        font-size: 21px;

        &.up-arrow {
          top: -11px;
          opacity: 0;
        }

        &.down-arrow {
          top: 31px;
        }
      }
    }
  }

  .dataset-preview {
    height: 0;
    display: block;
    overflow: hidden;
  }

  &.show {
    .toggle-dset-preview > i {
      &.up-arrow {
        opacity: 1;
      }

      &.down-arrow {
        opacity: 0;
      }
    }
  }
}