#dashboard {

  .below-header {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    height: calc(100vh - 60px);
    z-index: 0;
  }

  #dashContent {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    transition: margin 200ms;
    transition-timing-function: cubic-bezier(.5, -0.25, .5, 1.25);
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 0;
    height: 100%;

    .sub-header {
      -webkit-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
    }

    .app-dominant {
      display: -webkit-box;
      display: box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      overflow: hidden;

      .main-body {
        -webkit-box-flex: auto;
        box-flex: auto;
        -webkit-flex: auto;
        flex: auto;
        overflow-x: auto;
        overflow-y: scroll;
        padding: 0 15px 100px;

        .main-content {
          display: -webkit-box;
          display: box;
          display: -webkit-flex;
          display: flex;
          margin-top: 15px;

          .main {
            flex-grow: 1;
          }
        }
      }
    }
  }
}

.dashboard-top-menu {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin: 0 15px;
  padding: 10px 0;
}