.app-aside {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.aside-left-nav, .aside-left-menu {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.aside-left-menu {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 1px;
  flex: 1 0 1px;
  overflow: hidden;
  transition: 200ms;
  transition-timing-function: cubic-bezier(.5, -0.25, .5, 1.25);
  width: 285px;
  background-color: transparent;

  .aside-activity {
    color: #898989;

    header {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      display: -webkit-box;
      display: box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: baseline;
      box-align: baseline;
      -webkit-align-items: baseline;
      align-items: baseline;
      -webkit-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: solid 1px #ccc;

      .toggle-sorting {
        margin: 0;
        padding-right: 26px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background-image: url(https://s3-us-west-1.amazonaws.com/jarvisdev/UI-DropdownArrow.svg);
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) calc(50% + 1px);
        background-color: transparent;
        cursor: pointer;
        color: #333;
        outline: none;
      }
    }
  }
}

.aside-user, .aside-project {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 1px;
  flex: 1 0 1px;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 285px;
  height: 100%;
  background: #fff;
  color: #555;
  overflow: hidden;

  header {
    -webkit-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 0 20px;
  }

  h4 {
    font-weight: normal;
    color: #000;
    white-space: nowrap;
    transition: 100ms;
    transition-timing-function: cubic-bezier(.5, -0.25, .5, 1.25);
    width: 100%;
    height: 46.66666667px;
    line-height: 77px;
    margin: 0;
    padding: 0 20px;
  }

  .aside-item {
    padding: 15px 20px;
  }
}

.aside-user-options, .aside-project-options {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;

  .aside-item {
    max-height: 3em;
    align-items: flex-start;
    color: #27a0b6;
    text-decoration: none;
    transition: all .2s ease-in;

    &:not(.aside-heading):hover {
      background: #eee;
    }
  }
}

.aside-item {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 70px;
  flex: 0 1 70px;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  white-space: nowrap;
  transition: 100ms ease-in-out;
  min-height: 1.5em;

  &.active {
    background: #eee;
  }
}

.aside-activity {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 1px;
  flex: 1 0 1px;
  font-size: 12px;
  margin-left: 15px;

  a {
    text-decoration: none;
  }

  ul {
    padding: 0;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .projects > li {
    border-top: 1px solid #c5c5c5;

    &:first-child {
      border-top: none;
    }
  }

  .project-heading {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    padding: 10px;
    background-color: #eaeaea;

    &:first-child {
      border-top: none;
    }

    &.selected, &:hover {
      background-color: #fff;
    }

    .right-arr {
      display: inline-block;
      font-size: 12px;
      margin-right: 15px;
      margin-left: 5px;
      line-height: 20px;
    }
  }

  .project-name {
    width: 100%;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 12px;
    line-height: 19px;
    color: #333;
    font-family: Avenir-Next-DemiBold;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .proj-list-empty {
    text-align: center;
    color: #000;
    margin: 20px;
    font-size: 14px;

    .card-body {
      padding: 20px 15px;
    }

    a.button:hover {
      background-color: rgb(232, 232, 232);
    }

    span > i {
      margin: 0 5px 0 0;
    }

    .btn-text {
      position: relative;
      top: 1px;
      font-family: Avenir-Next-Medium;
    }
  }
}

.aside-activity > ul {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 1px;
  flex: 1 0 1px;
  overflow-y: auto;
}