.aside-item {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 70px;
  flex: 0 1 70px;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  white-space: nowrap;
  transition: 100ms ease-in-out;
  min-height: 1.5em;

  a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    position: relative;
  }

  i {
    margin: 0;
    color: inherit;
    font-size: 24px;
    transition: 100ms ease-in-out;
  }

  .nav-label {
    font-size: 9px;
    margin-top: 6px;
    text-align: center;
    white-space: normal;
    text-transform: uppercase;
  }
}

.aside-left-nav {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 84px;
  background: #555;
  overflow: visible;
  height: 100%;

  a {
    text-decoration: none;
  }

  a:not(:hover) {
    color: #eee;
  }

  a:hover, a:active {
    color: #fff;
  }

  a.aside-item.current {
    background-color: #f5f5f5;
    color: #555;
    border-right: 1px solid #ccc;

    i {
      opacity: 1;
    }
  }
}

@media screen and (max-height: 650px) {
  .aside-item > i {
    font-size: 18px;
  }

  .aside-item .nav-label {
    display: none;
  }
}
