#deployments {
  display: -webkit-box;
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;

  .main-display {
    padding-top: 37px;
  }
}

.deployment {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

  a {
    text-decoration: none;
  }
}

.status-area {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 130px;
  flex: 0 0 130px;
  padding: 7px 6px;
  border-right: 1px solid rgba(0,0,0,0.05);
}

.badge {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height: 25px;
  min-width: 118px;
  border-radius: 12.5px;
  color: #fff;
  text-align: left;

  &.failed {
    background: #ed5c5c;

    .status-icon {
      color: #ed5c5c;
    }
  }

  &.created {
    background: #66d3e4;

    .status-icon {
      color: #66d3e4;
    }
  }

  &.train_building {
    background: #66d3e4;

    .status-icon {
      color: #66d3e4;
    }
  }

  &.train_building_done {
    background: #66d3e4;

    .status-icon {
      color: #66d3e4;
    }
  }

  &.training {
    background: #66d3e4;

    .status-icon {
      color: #66d3e4;
    }
  }

  &.training_done {
    background: #66d3e4;

    .status-icon {
      color: #66d3e4;
    }
  }

  &.api_building {
    background: #66d3e4;

    .status-icon {
      color: #66d3e4;
    }
  }

  &.api_building_done {
    background: #66d3e4;

    .status-icon {
      color: #66d3e4;
    }
  }

  &.predicting {
    background: #42c88a;

    .status-icon {
      color: #42c88a;
    }
  }

  &.canceled {
    background: #898989;

    .status-icon {
      color: #898989;
    }
  }
}

.badge > .status-icon {
  width: 17px;
  border-radius: 50%;
  height: 17px;
  margin: 4px 8px 4px 4px;
  margin-left: 0px;
  background: #fff;
  color: #42c88a;
  font-size: 12px;
  text-align: center;
  line-height: 18px;

  &.fa-circle {
    font-size: 6px;
  }
}

.badge > .badge-label {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.commit-info {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0;
  flex: 1 0;
  min-width: 0;
  padding: 6px 12px;
  border-right: 1px solid rgba(0,0,0,0.1);
  line-height: 1.8;

  .commit-info-inner {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1;
    flex: 1 1;
    min-width: 0;

    .commit-info-header {
      display: -webkit-box;
      display: box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }

  .recent-commit-msg {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 2px;
    color: #555;
    font-size: 12px;
  }
}

.contextual-identifier {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  a {
    color: #212121;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.recent-user {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 20px;
  flex: 0 0 20px;
  margin-right: 8px;

  .dashboard-icon {
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: bottom;
    border-radius: 50%;
    opacity: 1;
  }
}

.dashboard-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  opacity: .4;
}

.recent-log {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Roboto Mono", Monaco, "Courier New", monospace;
  word-break: normal;
}

.metadata {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 214px;
  flex: 0 0 214px;
  border-right: 2px solid transparent;

  a {
    color: #1d8494;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .metadata-row {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: row;
    box-align: row;
    -webkit-align-items: row;
    align-items: row;
    -webkit-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-left: 12px;
    padding-right: 12px;

    .metadata-item {
      display: -webkit-box;
      display: box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1 0 auto;
      flex: 1 0 auto;
      font-size: 12px;

      &:last-child {
        -webkit-box-flex: 0;
        box-flex: 0;
        -webkit-flex: 0 0 40%;
        flex: 0 0 40%;
      }

      i {
        font-size: 18px;
        height: 19px;
        width: 18px;
        margin-right: 8px;
        margin-left: 0;
        padding-top: 1px;
        color: #ccc;
        max-width: 18px;
        display: inline;
        text-align: center;
      }
    }

    &:first-child > .metadata-item {
      padding-bottom: 8px;
    }
  }
}

.recent-time {
  white-space: nowrap;
  min-width: 55px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

@media (min-width: 1200px) {
  .contextual-identifier {
    max-width: 440px;
  }
}

@media (min-width: 1400px) {
  .contextual-identifier {
    max-width: 640px;
  }
}