.no-deployments {
  text-align: center;
  padding: 15px;

  .icon-container {
    width: 60px;
    margin: 0 auto 20px;

    i {
      font-size: 60px;
      color: rgb(212, 212, 212);
      margin: 0;
    }
  }

  .primary-msg {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;

    .repo-name {
      font-family: Avenir-Next-DemiBold;
    }
  }

  .secondary-msg {
    font-size: 16px;
  }

  .action-btn-center-container {
    margin-top: 30px;

    button.start-training {
      width: 120px;
    }
  }
}