.deployment-stages {
  padding: 15px;
}

.build-steps-type-divider {
  text-align: center;
  border-bottom: 1px solid #777;
  line-height: .1em;
  margin: 25px 0 15px;
  display: block;

  span {
    padding: 0 10px;
    background: #fff;
    color: #777;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.build-steps-animator {
  position: relative;
  overflow-x: hidden;
}

.build-output {
  margin-bottom: 5px;
  color: #555;
  font-weight: normal;

  .ah-wrapper {
    border: 1px solid #e3e3e3;
    border-left: 0 solid;
    min-height: 40px;
    position: relative;
    box-shadow: 0 1px #fff inset;
    overflow: hidden;

    .ah-wrapper-header {
      &.contents {
        cursor: pointer;
      }

      &.status-stage {
        i {
          font-size: 35px;
          margin-left: 10px;
          color: $success;
        }

        .stage-name {
          color: $success;
          padding-left: 22px;
          font-size: 18px;
          font-family: Avenir-Next-Regular;
        }

        .command {
          line-height: 4em;
        }
      }
    }

    .button {
      float: left;
      background-repeat: no-repeat;
      background-position: center;
      font-size: 1.2em;
      text-align: center;
      padding-top: 10px;
      margin-left: 10px;
      height: 30px;
      width: 30px;
    }

    .right-arrow, .down-arrow {
      color: #fbfbfb;
      display: inline-block;
      transition: all .25s ease;
      text-shadow: 1px 0 #555, -1px 0 #555, 0 1px #555, 0 -1px #555;
    }

    .command {
      color: #666;
      height: inherit;
      overflow: hidden;
      line-height: 3em;
    }
  }

  .command {
    padding-left: 5px;

    .stage-name {
      font-family: Avenir-Next-Medium;
    }
  }

  .detail {
    text-shadow: none;
    padding: 1em;
    margin-left: 5px;
  }
}

.action-header {
  &.success {
    border-left: 5px solid $success;
  }

  &.failed {
    border-left: 5px solid $failed;
  }

  &.running {
    border-left: 5px solid $running;
  }

  &.open {
    .ah-wrapper {
      .right-arrow {
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }

  .stage-name {
    color: #555;
  }
}


.action-log-messages {
  overflow: hidden;
  width: 100%;
  background: #212121;

  pre {
    margin: 0;
    padding: 1em;
    border-radius: 0;
    border: none;

    .log-msg {
      font-family: "Roboto Mono", Monaco, "Courier New", monospace;
      font-size: 13px;
    }

    .white {
      color: #edede3;
    }
  }

  .pre {
    white-space: pre-wrap;
  }
}

.build-actions {
  button {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 13px;
    height: 40px;
  }
}