body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  font-family: Avenir-Next-Regular;
}

body .row {
  margin-left: 0;
  margin-right: 0;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: auto;
  margin-bottom: auto;
}

a, a:hover {
  text-decoration: none;
}

strong {
  font-family: Avenir-Next-Medium;
}

.mdash {
  font-family: Lato;
}

.animated {
  animation-duration: .2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes slideInDown{
  from {
    transform: translate3d(0, -5%, 0);
    visibility: visible;
    opacity: 0
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity:1
  }
}

.slideInDown {
  animation-name: slideInDown;
}

.pull-right {
  float: right !important;
}

.material-icons {
  font-size: 18px;
  color: #898989;
  margin-left: 1ex;
  vertical-align: middle;
}

#appContainer {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 0;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  font: inherit;
  margin: 0;
}

img {
  vertical-align: middle;
}

.nav::before {
  content: '';
  display: none;
}

.nav::after {
  clear: none;
  display: none;
}

$header-height: 80px;
