// Current Dir
@import 'colors';
@import 'fonts';
@import 'globals';

// Dashboard
@import 'dashboard/dashboard';

// Projects
@import 'projects/projects';
@import 'projects/projects-list';
@import 'projects/no-projects-for-team';
@import 'projects/add-projects';
@import 'projects/setup-project';
@import 'projects/project-settings';
@import 'projects/envs';

// Account
@import 'account/account';
@import 'account/auth-settings';

// Deployments
@import 'deployments/deployment';
@import 'deployments/deployments';
@import 'deployments/no-deployments';
@import 'deployments/stages';

// Datasets
@import 'datasets/datasets';
@import 'datasets/no-datasets';
@import 'datasets/dataset-preview';

// Predictions
@import 'predictions/predictions';

// Metrics
@import 'metrics/metrics';

// Shared
@import 'shared/header';
@import 'shared/dropdown';
@import 'shared/side-nav';
@import 'shared/breadcrumbs';
@import 'shared/card';
@import 'shared/aside';
@import 'shared/spinner-btn';
@import 'shared/banner';
@import 'shared/footers/footer';
@import 'shared/form/form-input';
@import 'shared/form/form-select';
@import 'shared/form/email-input';
@import 'shared/modals/modal';

// Widgets
@import 'widgets/spinners/spinners';
@import 'widgets/spinners/chasing-tail-spinner';
@import 'widgets/spinners/circle-button-spinner';
@import 'widgets/spinners/basic-spinner';
@import 'widgets/lg-spinner-btn';
