// Current Dir
@import 'colors';
@import 'fonts';
@import 'globals';

// Dashboard
@import 'dashboard/dashboard';

// Projects
@import 'projects/projects';
@import 'projects/projects-list';
@import 'projects/no-projects-for-team';
@import 'projects/add-projects';
@import 'projects/setup-project';

// Account
@import 'account/account';
@import 'account/auth-settings';

// Deployments
@import 'deployments/deployment';
@import 'deployments/deployments';
@import 'deployments/no-deployments';
@import 'deployments/logs';

// Datasets
@import 'datasets/datasets';
@import 'datasets/no-datasets';
@import 'datasets/dataset-preview';

// Shared
@import 'shared/header';
@import 'shared/dropdown';
@import 'shared/side-nav';
@import 'shared/breadcrumbs';
@import 'shared/card';
@import 'shared/aside';
@import 'shared/footers/footer';
@import 'shared/form/form-input';
@import 'shared/form/form-select';
@import 'shared/form/email-input';

// Widgets
@import 'widgets/spinners/horiz-spinner';
@import 'widgets/lg-spinner-btn';