#metrics {
  position: relative;
  display: -webkit-box;
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-flex: 1;;;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;

  .main-body {;
    padding-top: 37px !important;
  }

  .aside-left-menu {
    width: 300px;
  }

  .card:not(:last-child) {
    margin-bottom: 15px;
  }
}

.scatter-plot {
  position: relative;
  padding: 0 120px;
  padding-bottom: 75px;
  padding-top: 15px;
}

.chart-title,
.chart-axis-title {
  position: absolute;
}

.chart-axis-title {
  font-size: 14px;
  font-family: Avenir-Next-Medium;
  display: inline-block;

  &.x-axis {
    bottom: 35px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  &.y-axis {
    width: 120px;
    text-align: center;
    height: 11px;
    line-height: 11px;
    bottom: calc(50% + 35px);
    left: 0;
  }
}

.chart-title {
  width: 100%;
  text-align: center;
  top: -20px;
  left: 0;
}

.chart-legend {
  position: absolute;
  top: 50px;
  right: 20px;
  text-align: right;

  .legend-series {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    i {
      font-size: 10px;
      position: relative;
    }

    span {
      margin-right: 9px;
      font-size: 12px;
    }
  }
}

.no-graphs {
  text-align: center;
  padding: 30px 15px;

  .icon-container {
    width: 60px;
    margin: 0 auto 20px;

    i {
      font-size: 60px;
      color: rgb(212, 212, 212);
      margin: 0;
    }
  }

  .primary-msg {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;

    .team-name, .repo-name {
      font-family: Avenir-Next-DemiBold;
    }
  }

  .secondary-msg {
    font-size: 16px;
  }

  .action-btn-center-container {
    margin-top: 30px;
  }
}

.card.graph {
  .card-body {
    padding: 20px 70px;
  }

  .card-header {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #e6e6e9;

    .right-side > i {
      color: #c6c6c9;
      font-size: 18px;
      cursor: pointer;
      position: relative;
      top: 3px;

      &:hover {
        opacity: 0.85;
      }

      &:active {
        opacity: 1;
      }
    }
  }

  .graph-icon {
    margin-right: 10px;
    font-size: 16px;
    position: relative;
    top: 1px;
  }
}