$gutter: 10px;

.edit-envs {
  .card-header {
    position: relative;
  }

  .save-envs {
    position: absolute;
    right: 15px;
    top: 8px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #d6d6d9;
    border: none;
    outline: none;
    -webkit-transition: background 0.15s;
    -moz-transition: background 0.15s;
    -ms-transition: background 0.15s;
    -o-transition: background 0.15s;
    transition: background 0.15s;

    &:hover {
      background: $secondary;
    }

    &:active {
      opacity: 0.8;
    }

    i {
      color: #fff;
      margin: 0;
      font-size: 22px;
      text-align: center;
      line-height: 36px;
    }
  }
}

.envs-container {
  .action-btns {
    button > span.plus {
      font-size: 18px;
      position: relative;
      left: -4px;
    }
  }
}

.envs {
  padding: 10px 0;
}

.env {
  margin-bottom: $gutter;

  .form-input {
    width: calc(50% - 30px);
    display: inline-block;
    padding: 13px 11px;
    line-height: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: #fff;
    outline: none;

    &:first-child {
      margin-right: $gutter;
    }
  }

  .remove-env {
    width: 50px;
    float: right;
    height: 44px;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: $failed;
    font-family: Avenir-Next-Thin;
    text-align: center;


    &:hover {
      opacity: 0.95;
    }
  }
}