.projects-list {

  .project-list-item-name {
    color: $secondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  table.table tbody > tr > td {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}