#projectSettings {
  display: -webkit-box;
  display: box;
  display: -ms-flexbox;
  display: flex;
  box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;

  .project-settings-inner {
    width: 100%;

    a {
      color: $secondary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .form {
      padding: 5px 0;
    }

    input.cred {
      pointer-events: none;
      display: inline-block;
      width: 415px;
      padding: 11px;
      line-height: 18px;
      background: #e6e6e9;
      border-radius: 3px;
      border: none;
      outline: none;
    }

    .cred-action-btn {
      padding: 10px 0;
      margin: 0 9px;
      font-size: 12px;
      color: $secondary;
      background: none;
      border: none;
      outline: none;

      &:hover {
        text-decoration: underline;
      }
    }

    input.cred + .cred-action-btn {
      margin-left: 15px;
    }

    &.webhooks {
      .card-header {
        padding-right: 30px;
      }
    }
  }

  .card {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .toggle-enabled-status-container {
    padding: 10px;
  }
}