#setupProject {
  margin-top: 10px;

  ul {
    padding-left: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .radio, .checkbox {
    display: inline-block;
  }

  input[type=radio] {
    display: none;
  }

  input[type=radio]:checked + label {
    background-color: #d9f4f8;
    border: solid 1px #66d3e4;
  }

  label {
    border: solid 1px #ccc;
    border-radius: 3px;
    margin: 5px 10px 0 0;
    cursor: pointer;
    font-weight: normal;
    color: #333;
    line-height: 23px;

    i {
      margin-right: 5px;
      position: relative;
      top: -1px;
    }
  }

  .languages {
    .language-list {
      label {
        width: 135px;
        padding: 5px;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  a:not(.button) {
    color: #27a0b6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .checklist p {
    margin: 0;
    line-height: 36px;
  }

  .checklist-btn {
    box-sizing: border-box;
    line-height: 1;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 154, 241);
    height: 36px;
    font-size: 14px;
    width: 155px;
    padding: 4px 1em;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 3px;
  }

  .build-config-string pre {
    word-wrap: normal;

    code {
      white-space: pre;
    }
  }
}